.collapsible-content-4,
.collapsible-content-4 * {
  box-sizing: border-box;
}
.collapsible-content-4 {
  background: var(--background, #ffffff);
  height: 65.375rem;
  position: relative;
  overflow: hidden;
}
.group-6438 {
  position: absolute;
  inset: 0;
}
.rectangle-3005 {
  width: 47.75rem;
  height: 53.1875rem;
  position: absolute;
  left: 41rem;
  top: 4.75rem;
  object-fit: cover;
}
.rectangle-3004 {
  width: 34.5625rem;
  height: 34.4375rem;
  position: absolute;
  left: 89.75rem;
  top: 4.75rem;
  object-fit: cover;
}
.divider-3 {
  width: 28.25rem;
  height: 0rem;
  position: absolute;
  left: 3.6875rem;
  top: 34.125rem;
  overflow: visible;
}
.divider-5 {
  width: 28.25rem;
  height: 0rem;
  position: absolute;
  left: 3.6875rem;
  top: 30.1875rem;
  overflow: visible;
}
.divider-4 {
  width: 28.25rem;
  height: 0rem;
  position: absolute;
  left: 3.6875rem;
  top: 38.0625rem;
  overflow: visible;
}
.group-6455 {
  width: 28.25rem;
  height: 1.6875rem;
  position: static;
}
.upholstery {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(
    --pc-heading-h6-font-family,
    "OptimaNovaLtPro-Regular",
    sans-serif
  );
  font-size: var(--pc-heading-h6-font-size, 1.375rem);
  line-height: var(--pc-heading-h6-line-height, 122%);
  letter-spacing: var(--pc-heading-h6-letter-spacing, -0.02em);
  font-weight: var(--pc-heading-h6-font-weight, 400);
  position: absolute;
  left: 3.6875rem;
  top: 31.4375rem;
  width: 28.25rem;
}
._24-px-plus {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: calc(50% - 29.375rem);
  top: 31.6875rem;
  overflow: visible;
}
.group-6483 {
  width: 28.25rem;
  height: 1.6875rem;
  position: static;
}
.cushion {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(
    --pc-heading-h6-font-family,
    "OptimaNovaLtPro-Regular",
    sans-serif
  );
  font-size: var(--pc-heading-h6-font-size, 1.375rem);
  line-height: var(--pc-heading-h6-line-height, 122%);
  letter-spacing: var(--pc-heading-h6-letter-spacing, -0.02em);
  font-weight: var(--pc-heading-h6-font-weight, 400);
  position: absolute;
  left: 3.6875rem;
  top: 21.9375rem;
  width: 28.25rem;
}
._24-px-minus {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: calc(50% - 29.375rem);
  top: 22rem;
  overflow: visible;
}
.group-6456 {
  width: 28.25rem;
  height: 1.6875rem;
  position: static;
}
.frame {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(
    --pc-heading-h6-font-family,
    "OptimaNovaLtPro-Regular",
    sans-serif
  );
  font-size: var(--pc-heading-h6-font-size, 1.375rem);
  line-height: var(--pc-heading-h6-line-height, 122%);
  letter-spacing: var(--pc-heading-h6-letter-spacing, -0.02em);
  font-weight: var(--pc-heading-h6-font-weight, 400);
  position: absolute;
  left: 3.6875rem;
  top: 35.375rem;
  width: 28.25rem;
}
._24-px-plus2 {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: calc(50% - 29.375rem);
  top: 35.625rem;
  overflow: visible;
}
.group-6457 {
  width: 28.25rem;
  height: 1.75rem;
  position: static;
}
.finish {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(
    --pc-heading-h6-font-family,
    "OptimaNovaLtPro-Regular",
    sans-serif
  );
  font-size: var(--pc-heading-h6-font-size, 1.375rem);
  line-height: var(--pc-heading-h6-line-height, 122%);
  letter-spacing: var(--pc-heading-h6-letter-spacing, -0.02em);
  font-weight: var(--pc-heading-h6-font-weight, 400);
  position: absolute;
  left: 3.6875rem;
  top: 39.3125rem;
  width: 28.25rem;
}
._24-px-plus3 {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: calc(50% - 29.375rem);
  top: 39.25rem;
  overflow: visible;
}
.the-perfect-accent-chair-for-any-room {
  color: var(--text, #402c22);
  text-align: left;
  font-family: "Optima-Regular", sans-serif;
  font-size: 3.9375rem;
  line-height: 106%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  left: 3.6875rem;
  top: 11.5rem;
  width: 31.125rem;
}
.construction {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(--pc-button-small-font-family, "Inter-Medium", sans-serif);
  font-size: var(--pc-button-small-font-size, 1rem);
  line-height: var(--pc-button-small-line-height, 1.25rem);
  font-weight: var(--pc-button-small-font-weight, 500);
  opacity: 0.7;
  position: absolute;
  left: 3.8125rem;
  top: 9.3125rem;
}
.the-thayer-s-seat-cushion-features-a-core-of-high-resiliency-foam-wrapped-with-a-layer-of-microfiber-for-a-structured-supportive-sit {
  color: var(--text, #402c22);
  text-align: left;
  font-family: var(--pc-body-b3-font-family, "Inter-Medium", sans-serif);
  font-size: var(--pc-body-b3-font-size, 1rem);
  line-height: var(--pc-body-b3-line-height, 1.4375rem);
  font-weight: var(--pc-body-b3-font-weight, 500);
  opacity: 0.8;
  position: absolute;
  left: 3.6875rem;
  top: 24.0625rem;
  width: 25.1875rem;
}
