:root {
  --color-dark: #5b4034;
  --color-light: #faf7f2;
  --color-muted: #a08b7d;
  --color-highlight: #8c665a;
  --font-family: "Georgia", serif;
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;
  --border-radius-lg: 12px;
}

body {
  font-family: var(--font-family);
  color: var(--color-dark);
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}

/* Subheading */
.sub-heading {
  color: #462b20;
  font-size: 20px;
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 200;
  line-height: 24px;
  word-wrap: break-word;
  text-align: center;
  font-style: italic;
  margin-bottom: var(--spacing-xl);
}

/* Grid Layout */
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 20px 50px;
}

/* Left & Right Image Sections */
.left-images,
.right-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
}

.img-small {
  width: 180px;
  height: 250px;
  align-self: flex-start;
}

.img-large {
  width: 250px;
  height: 360px;
  align-self: flex-end;
}

/* Center Content */
.center-content {
  text-align: center;
  padding: 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.center-content-1 {
  text-align: center;
  padding: 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-title {
  color: #462b20;
  font-size: 58px;
  font-family: "Instrument Serif";
  font-weight: 400;
  line-height: 61px;
  word-wrap: break-word;
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.opacity-4 {
  opacity: 0.4;
}

.section-sub {
  color: #462b20;
  font-size: 20px;
  font-family: "Instrument Serif";
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  display: flex;
  gap: 14px;
}

.highlight {
  opacity: 1;
  color: #462b20;
  font-size: 20px;
  font-family: "Instrument Serif";
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.divider {
  width: 1px;
  background: rgba(0, 0, 0, 0.11);
}

.section-description {
  opacity: 0.85;
  text-align: center;
  color: #462b20;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .left-images,
  .right-images {
    flex-direction: row;
    justify-content: center;
  }

  .img-small,
  .img-large {
    width: 45%;
  }
}
