:root {
  --color-dark: #1a202c;
  --color-light: #ffffff;
  --color-muted: #a0aec0;
  --color-border: #e2e8f0;
  --font-family: "Poppins", sans-serif;
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --border-radius-lg: 12px;
}

body {
  font-family: var(--font-family);
  color: var(--color-dark);
  background-color: var(--color-light);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* Grid Layout */
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing-lg);
  width: 100%;
  height: 100%;
}

.accordion-text {
  color: #402c22;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 23px;
  word-wrap: break-word;
}

/* Text Section */
.text-section {
  padding: 100px 20px 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
}

.sub-heading {
  color: #402c22;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.heading {
  font-size: 63px;
  margin: 0;
  font-family: "Optima", sans-serif;
  font-weight: 400;
  line-height: 66.78px;
  word-wrap: break-word;
}

/* Accordion */

.accordion-item {
  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-md) 0;
  cursor: pointer;
  width: 80%;
}

.accordion-header {
  color: #402c22;
  font-size: 22px;
  font-family: "Optima nova LT Pro", sans-serif;
  font-weight: 400;
  line-height: 26.84px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  font-size: var(--font-size-sm);
  color: var(--color-muted);
  display: none;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* Image Section */
.image-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-lg);
}

.main-image img,
.side-image img {
  padding: 100px 20px 100px 0;
  width: 100%;
  display: block;
}
